.site {

    /* min-height: 100vh;*/ 

}

.nav-item {
    font-family: 'Rubik', sans-serif;
}

/* Main Body */

.dotted {
    background: linear-gradient(90deg, #F8F9FA 21px, transparent 1%) center, linear-gradient(#F8F9FA 21px, transparent 1%) center, #000000;
    background-size: 22px 22px;

  }

.pageTitle {
    padding-left: 115px;
    padding-top: 25px;
    font-family: 'Rubik', sans-serif;
}

.mainContent {
    min-height: calc(100vh - 70px);
    /* height: 100vh;*/
}

/* Cards */

.career p{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    padding-left: 200px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p.card-text {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.card:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,00.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,00.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,00.75);
}
/* Footer */
.footer {
    height: 75px;
    margin-bottom: -2px;
}

